<app-header></app-header>
<ion-content>
  <ion-slides pager mode="md">
    <ion-slide>
      <ion-card class="poster-card"><ion-card-content><img class="poster" src="../../assets/offer1.png"></ion-card-content></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="poster-card"><ion-card-content><img class="poster" src="../../assets/offer2.png"></ion-card-content></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="poster-card"><ion-card-content><img class="poster" src="../../assets/offer1.png"></ion-card-content></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="poster-card"><ion-card-content><img class="poster" src="../../assets/offer2.png"></ion-card-content></ion-card>
    </ion-slide>

  </ion-slides>

<ion-card>
  <ion-card-header>
    <ion-card-title color="dark" class="book-title">
      {{book.title}}
    </ion-card-title>
    <ion-card-subtitle>
      <div class="book-author ion-text-wrap">
        by
      <p *ngFor="let author of book.author; index as i"><span>{{author}} </span> <span *ngIf=" i != book.author.length - 1"> | </span> 
      </p> 
      </div>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid> 
      <ion-row>
        <ion-col size="12" offset-sm="1" size-sm="4" size-md="3" offset-lg="0">
          <div class="vertical-center">
            <div class="center">
              <ion-img [src]="['../../assets/'+ book.cover]" style="height: 300px; width: 250px;" class="ion-align-self-end"></ion-img>
            </div>   
          </div>  
        </ion-col>
        <ion-col offset-sm="1" size-sm="6" size-lg="7">
          <div class="text"><ion-text>Publication: </ion-text><ion-text color="dark">{{book.publication}}</ion-text></div>
          <div class="text"><ion-text>Edition No: </ion-text><ion-text color="dark">{{book.edition}}</ion-text></div>
          <ion-text class="book-price">₹500</ion-text><ion-text class="book-old-price"><del>₹750</del></ion-text><ion-text class="book-discount">8% off</ion-text>
          <div><ion-text>Inclusive of all taxes</ion-text></div>
          <div><ion-text class="stock-availability">In Stock</ion-text></div> 
          <ion-button size="large" color="primary" class="buttonbtn" expand="block"><ion-icon name="cart"></ion-icon> <ion-text class="btn">Add To Cart</ion-text> </ion-button>
          <ion-button size="large" color="secondary" expand="block"><ion-icon name="flash"></ion-icon> <ion-text class="btn">Buy Now</ion-text></ion-button><br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-sm="7" size-md="6">
          <ion-label><b>Services</b></ion-label>
          <ion-list>
            <ion-item lines="none"> <ion-icon color="primary" name="sync"></ion-icon><ion-label class="services">10 Days Replacement Policy</ion-label></ion-item>
            <ion-item lines="none"><ion-icon color="primary" name="cash"></ion-icon><ion-label class="services">Cash on Delivery available</ion-label></ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="5" size-md="6">
          <ion-list>
            <ion-label><b>Seller</b></ion-label>
            <ion-item lines="none"><ion-icon color="primary" name="person"></ion-icon><ion-label class="services">EA Enterprises</ion-label></ion-item>
            <ion-item lines="none"><ion-icon color="primary" name="people"></ion-icon><ion-label class="services">View More <ion-text color="primary">Sellers</ion-text></ion-label></ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>
<ion-item lines="none">
  <p slot="start">Recommended</p>
  <ion-icon name="arrow-forward" slot="end"></ion-icon>
</ion-item>
<ion-segment scrollable mode="md" >
  <ion-segment-button  class="segment-style">
    
      <img src="../../assets/sample1.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button  class="segment-style">
      <img src="../../assets/sample2.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button class="segment-style">
     
      <img src="../../assets/sample3.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button  class="segment-style">
      <img src="../../assets/sample4.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button  class="segment-style">
    
    <img src="../../assets/sample1.jpg" height="160px">
</ion-segment-button>
<ion-segment-button  class="segment-style">
    <img src="../../assets/sample2.jpg" height="160px">
</ion-segment-button>
<ion-segment-button class="segment-style">
   
    <img src="../../assets/sample3.jpg" height="160px">
</ion-segment-button>
<ion-segment-button  class="segment-style">
    <img src="../../assets/sample4.jpg" height="160px">
</ion-segment-button>
</ion-segment>
<br>
</ion-content>
