<app-header></app-header>

<ion-content padding>
  <ion-slides pager mode="md">
    <ion-slide>
      <ion-card class="poster-card"><ion-card-content class="card-content"><img class="poster" src="../../assets/offer1.png"></ion-card-content></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="poster-card"><ion-card-content class="card-content"><img class="poster" src="../../assets/offer2.png"></ion-card-content></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="poster-card"><ion-card-content class="card-content"><img class="poster" src="../../assets/offer3.PNG"></ion-card-content></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="poster-card"><ion-card-content class="card-content"><img class="poster" src="../../assets/offer1.png"></ion-card-content></ion-card>
    </ion-slide>

  </ion-slides>
  <ion-item lines="none">
    <p slot="start">Trending</p>
    <ion-icon name="arrow-forward" slot="end"></ion-icon>
  </ion-item>
  <ion-segment scrollable mode="md" >
    <ion-segment-button  class="segment-style">
      
        <img src="../../assets/sample1.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button  class="segment-style">
        <img src="../../assets/sample2.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button class="segment-style">
       
        <img src="../../assets/sample3.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button  class="segment-style">
        <img src="../../assets/sample4.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button  class="segment-style">
      
      <img src="../../assets/sample1.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button  class="segment-style">
      <img src="../../assets/sample2.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button class="segment-style">
     
      <img src="../../assets/sample3.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button  class="segment-style">
      <img src="../../assets/sample4.jpg" height="160px">
  </ion-segment-button>
  </ion-segment>

  <ion-item lines="none">
    <p slot="start">Sponsored</p>
    <ion-icon name="arrow-forward" slot="end"></ion-icon>
  </ion-item>
  <ion-segment scrollable mode="md" >
    <ion-segment-button  class="segment-style-sponsored">
      
        <img src="../../assets/sponser1.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button  class="segment-style-sponsored">
        <img src="../../assets/sponser2.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button class="segment-style-sponsored">
       
        <img src="../../assets/sponser3.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button  class="segment-style-sponsored">
        <img src="../../assets/sponser4.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button  class="segment-style-sponsored">
      
      <img src="../../assets/sponser1.jpg" height="165px">
  </ion-segment-button>
  <ion-segment-button  class="segment-style-sponsored">
      <img src="../../assets/sponser2.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button class="segment-style-sponsored">
     
      <img src="../../assets/sponser3.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button  class="segment-style-sponsored">
      <img src="../../assets/sponser4.jpg" height="160px">
  </ion-segment-button>
  </ion-segment>


  
  <ion-item lines="none">
    <p slot="start">Top Sellers</p>
    <ion-icon name="arrow-forward" slot="end"></ion-icon>
  </ion-item>
  <ion-segment scrollable mode="md" >
    <ion-segment-button  class="segment-style">
      
        <img src="../../assets/sample1.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button  class="segment-style">
        <img src="../../assets/sample2.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button class="segment-style">
       
        <img src="../../assets/sample3.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button  class="segment-style">
        <img src="../../assets/sample4.jpg" height="160px">
    </ion-segment-button>
    <ion-segment-button  class="segment-style">
      
      <img src="../../assets/sample1.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button  class="segment-style">
      <img src="../../assets/sample2.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button class="segment-style">
     
      <img src="../../assets/sample3.jpg" height="160px">
  </ion-segment-button>
  <ion-segment-button  class="segment-style">
      <img src="../../assets/sample4.jpg" height="160px">
  </ion-segment-button>
  </ion-segment>

  
  <ion-button color="primary" [routerLink]="['/','books']">Books</ion-button>
</ion-content>
