.poster-card {
    background-size: cover;
    max-height: 300px;
    padding: 0px;
}
.card-content {
    padding: 0px;
    margin-bottom: -6px;
}
ion-slides {
    --bullet-background-active: whitesmoke;
}
.poster {
}
.segment-style {
    min-width: 9rem;
    --color-checked: none;
}
.segment-style-sponsored {
    min-width: 16rem;
    --color-checked: none;
}
.container {
}
.poster-container {
    float: right;
    width: 160px;
    height: 160px;
}